<p id="notice"><%= notice %></p>

<h1>Listing Kanjis</h1>

<table>
  <thead>
    <tr>
      <th>Kanji</th>
      <th>Kakusu</th>
      <th>Yomi</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @kanjis.each do |kanji| %>
      <tr>
        <td><%= kanji.kanji %></td>
        <td><%= kanji.kakusu %></td>
        <td><%= kanji.yomi %></td>
        <td><%= link_to 'Show', kanji %></td>
        <td><%= link_to 'Edit', edit_kanji_path(kanji) %></td>
        <td><%= link_to 'Destroy', kanji, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Kanji', new_kanji_path %>
